html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.clearfix::before {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}
.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.pyg_header {
  height: 45px;
  background-color: #eee;
  padding: 4px;
}
.pyg_content {
  flex: 1;
  overflow: scroll;
}
.pyg_footer {
  height: 45px;
}
.pyg_nav {
  padding: 15px;
  display: flex;
  background-color: #fff;
}
.pyg_nav > a {
  flex: 1;
  text-align: center;
  font-size: 13px;
  color: #333;
}
.pyg_nav > a > img {
  width: 50%;
  display: inline-block;
}
.pyg_goodsList {
  padding: 10px;
}
.pyg_goodsList .pyg_pbox {
  width: 100%;
  padding-bottom: 5px;
}
.pyg_goodsList .pyg_pbox > img {
  width: 100%;
  display: block;
}
.pyg_goodsList .pyg_pbox > .pyg_sbox {
  width: 49%;
  margin-top: 10px;
  float: left;
  background-color: #fff;
}
.pyg_goodsList .pyg_pbox > .pyg_sbox > .pgy_good {
  width: 100%;
}
.pyg_goodsList .pyg_pbox > .pyg_sbox > .pgy_good > img {
  width: 100%;
  display: block;
}
.pyg_goodsList .pyg_pbox > .pyg_sbox > .pgy_good > .pgy_desc {
  color: #333;
  font-size: 13px;
  margin: 5px 0;
}
.pyg_goodsList .pyg_pbox > .pyg_sbox > .pgy_good > .pyg_price {
  color: red;
}
.pyg_goodsList .pyg_pbox > .pyg_sbox > .pyg_btncate {
  width: 80%;
  display: block;
  margin: 5px auto;
}
.pyg_goodsList .pyg_pbox > .pyg_sbox:nth-of-type(even) {
  margin-left: 2%;
}
